<footer>
    <div class="links">
        <ul>
            <li><a href="./Pages/schedule.html">Schedule New Pet Care Consultation</a></li>
            <li><a href="./Pages/register.html">Get Free Tailored Tips About YOUR Pets</a></li>
            <li><a href="./Pages/contact.html">Contact Paradigm Pet Professionals</a></li>
            <li><a href="./Pages/FAQ.html">Frequently Asked Questions</a></li>
        </ul>
        <ul>
            <li><a href="./Pages/cats.html">Cat Care Information</a></li>
            <li><a href="./Pages/dogs.html">Dog Care Information</a></li>
            <li><a href="./Pages/fish.html">Fish Care Information</a></li>
        </ul>
    </div>
    <div class="copyrightCitations">
        <a href="./Pages/credits.html">Credits, Citations, Licensing, and Copyright info</a>
    </div>
</footer>