@import url('../style.css');

.citations {
    text-align: left !important;

    p {
        padding: 1rem 0;
    }

    .disclaimer {
        font-weight: 800;
        font-style: italic;
    }

    h2 {
        text-align: left !important;
        padding-top: 1rem;
    }

    .copy {
        margin-top: 3rem;
        font-style: italic;
    }
}